<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tweet Gateway Server - {{userProfile.name}}</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/tweet-gateway-server.css" rel="stylesheet">

</head>

<body>

<div class="container-fluid">

  <div class="row bg-primary">
    <div class="col-md-1">
      <a href="{{userProfile.url}}" target="_blank"><img class="img-rounded img-profile" src="{{userProfile.profileImageUrlHttps}}" alt="{{userProfile.name}}"
                                                         title="{{userProfile.name}}"></a>
    </div>
    <div class="col-md-10">
      <h2><strong>Active Tweet Gateways</strong></h2>
      {{userProfile.name}} (<a href="https://twitter.com/{{userProfile.screenName}}" target="_blank" class="text-info" style="color: white">@{{userProfile.screenName}}</a>)
    </div>
  </div>

  <div class="row">
    <div class="col-md-7"><strong>URL</strong></div>
    <div class="col-md-4"><strong>Hashtags</strong></div>
    <div class="col-xs-1"><strong>Activity</strong></div>
  </div>


  {{#gatewayInfos}}
  <div class="row">
    <div class="col-md-7">
      {{url}}
    </div>
    <div class="col-md-4">
      {{hashtags}}
    </div>
    <div class="col-xs-1">{{activity}}</div>
  </div>
  {{/gatewayInfos}}


  <form class="form-inline" role="form" method="post" action="/gateways" name="createGateway">
    <div class="form-group col-md-7">
      <input class="form-control" type="text" name="url">
    </div>
    <div class="form-group col-md-4">
      <input class="form-control" type="text" name="hashtags">
    </div>
    <div class="form-group col-xs-1">
      <button id="btnCreate" class="form-control btn btn-default">Create</button>
    </div>
  </form>

</div>

</body>
</html>