<!DOCTYPE html>
<html>

<head>
  <title>Tweet Gateway Server</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/tweet-gateway-server.css" rel="stylesheet">
</head>

<body>

<h1 class="page-header">Tweet Gateway Server</h1>

<div class="well">
  <p>
    Work in progress ...
  </p>

  <form action="/doTwitterSignIn" method="post">
    <button type="submit" class="transparent-button"><img src="img/sign-in-with-twitter-gray.png" width="158" height="28"
                                                          alt="sign-in-with-twitter" title="Sign in will redirect you to Twitter">
    </button>
  </form>

</div>

<div class="well">
  <ul>
    {{#tweets}}
      <li>
        Name: {{name}}
        User: {{user}}
        <ol>
          {{#textLines}}
            <li>
              {{description}}.
            </li>
          {{/textLines}}
        </ol>
      </li>
    {{/tweets}}
  </ul>
</div>

<a href="https://github.com/nitram509/twitter-gateway-server"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                                   src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
                                                                   alt="Fork me on GitHub"></a>

</body>
</html>